// ********** BACKGROUND COLORS **********
$backgroundColorPrimary: #e5e5e5;
$backgroundColorSecondary: #f6f6f6;
$backgroundColorTertiary: #2b2a33;
$backgroundColorQuaternary: #000000;
$brandingColorPrimary: #0a95bc;

// ********** FONT COLORS **********
$fontColorPrimary: #000000;
$fontColorSecondary: #ffffff;
$fontColorDarken: #d4d4d4;
$successMessageColor: #00ff00;
$errorMessageColor: #ff0000;

// ********** BREAKPOINTS **********
$breakpointMobile: 768px;
$breakpointTablet: 1024px;
$breakpointDesktop: 1440px;
