@use '../../../utils/styles/variables' as variables;
@use '../../../utils/styles/mixins' as mixins;

.notFound__main {
  min-height: 60vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  cursor: default;
  text-align: center;
}

.notFound__main__title {
  @media(max-width: variables.$breakpointMobile) {
    font-size: 3em;
  }
  font-size: 4em;
  font-weight: 700;
}

.notFound__main__overview {
  @media(max-width: variables.$breakpointMobile) {
    font-size: 1em;
  }
  font-size: 1.5em;
  font-weight: 500;
}

.notFound__main__button {
  @include mixins.buttonStyle;
}
