@use '../../../utils/styles/variables' as variables;

.header {
  @media(max-width: variables.$breakpointMobile) {
    padding: 1em;
    justify-content: center;
  }
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5em 1em 5em;
  background-color: variables.$backgroundColorSecondary;
  min-height: 20vh;
  cursor: default;
}

.header__logoWrapper {
  @media(max-width: variables.$breakpointMobile) {
    width: 150px;
  }
  width: 250px;
}

.header__logoWrapper__goToHome__img {
  width: 100%;
  object-fit: cover;
}

.header__titleWrapper {
  @media(max-width: variables.$breakpointMobile) {
    font-size: 1em;
  }
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  font-style: italic;
  background: #F08D9F;
  background: linear-gradient(to right, #F08D9F 0%, #F6C0C7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}