@use '../../../utils/styles/variables' as variables;

.footer {
  @media (max-width: variables.$breakpointMobile) {
    padding: 1em;
    justify-content: center;
  }
  min-height: 20vh;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em 5em 1em 5em;
  background-color: variables.$backgroundColorTertiary;
  cursor: default;
}

.footer__logoWrapper {
  width: 150px;
}

.footer__logoWrapper__img {
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(7px 7px 2px rgba(0, 0, 0, .3));
}

.footer__copyright {
  font-size: 18px;
  width: 100%;
  color: variables.$fontColorDarken;
  margin-top: 2em;
}
