// ********** GLOBAL SCSS FILE **********
// RESET STYLES
html,
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
}

body {
  background: lighten(#fbf6f1, 1%);
}
