.navigation {
  padding: 2em;
  width: 100%;
}

.navigation__itemWrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.navigation__itemWrapper__item {
  list-style: none;
}

.navigation__itemWrapper__item__link {
  font-size: 1.8em;
  color: #ec8b9d;
  filter: drop-shadow(2px 4px 0.75rem #f6aab9);
  &:hover {
    color: #f6aab9;
    filter: drop-shadow(2px 4px 0.75rem #f6aab9);
  }
}
